<%= render "menu" %>

<div class="container">
  <div class="col-md-6 col-md-offset-3">

    <h1>Create a new EVIL creature!</h1>
    <p>Proceed at your own risk</p>

  </div> <!-- close .col-md-6 -->

  <div class="col-md-6 col-md-offset-3">

    <%= form_for :creature, url: "/creatures", method: "post", :html => {:class => "form-horizontal-center"} do |f| %>

      <div class="form-group">
        <%= f.label :name, "Name", class: "col-md-4 control-label" %>
          <div class="col-md-8">
            <%= f.text_field :name, class: "form-control" %>
          </div>
      </div>
      <br />
      <br />
      <br />
      <div class="form group">
        <%= f.label :description, "Description", class: "col-md-4 control-label" %>
          <div class="col-md-8">
            <%= f.text_area :description, class: "form-control" %>
          </div>
      </div>

      <%= f.submit "Save Creature", class: "btn btn-default" %>

    <% end %>
  </div>

</div> <!-- close .container -->
