<%= render "menu" %>

<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <h1>Here is your PURE EVIL creature!</h1>
    <p>And yes, it is pure EVIL</p>
  </div>
  <br />
  <div class="col-md-6 col-md-offset-3">

    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @creature.name %></td>
          <td><%= @creature.description %></td>
          <td><a href="<%= "/creatures/#{@creature.id}/edit" %>"><button class="btn btn-default">Edit</button></td>
          <td><a href="<%= "/creatures/#{@creature.id}" %>" data-method='delete'><button class="btn btn-default">Delete</button><td>
        </tr>
      </tbody>
    </table>

    <a href="/">
      <button class="btn btn-default">Home</button>
    </a>

  </div>

</div><!-- close .container -->
